RewriteEngine on
RewriteCond %{HTTP_HOST} ^animeftw\.tv$ [NC]
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule .? http://www.%1animeftw.tv%{REQUEST_URI} [R=301,L]

RewriteRule ^/?login$ index.php?page=login [L]
RewriteRule ^/?logout$ index.php?page=logout [L]
#RewriteRule ^/?register$ index.php?page=register [L]
RewriteRule ^/?register$ mobile.register.php [L]
RewriteRule ^/?register/activate/(.+)$ mobile.register.php?activate=$1 [L]