HTML {
	background:url('images/background.png') #000000;
	font-family:arial,sans serif;
	margin:0px;
}
BODY.main {
	margin:35px 0px 0px 0px;
}
BODY.search {
	margin:0px;
	padding-bottom:140px;
}
INPUT:focus,
SELECT:focus,
TEXTAREA:focus {
    outline: none;
}
a:link,
a:visited,
a:active {
	color:#0000FF;
	font-weight:bold;
	text-decoration:none;
	font-family:verdana;
	font-size:80%;
}
DIV.logo {
	width:500px;
	height:225px;
	margin-left:auto;
	margin-right:auto;
	background:url('images/logo.png');
}
DIV.search {
	width:750px;
	margin-left:auto;
	margin-right:auto;
	padding:8px;
	border-radius:8px;
	background-color:rgba(0,0,0,0.3);
	-moz-box-shadow:0px 0px 0px 1px #080808;
	-webkit-box-shadow:0px 0px 0px 1px #080808;
	box-shadow:0px 0px 0px 1px #080808;
}
DIV.search INPUT.search {
	width:750px;
	height:55px;
	font-size:24px;
	padding-left:55px;
	padding-right:55px;
	border-radius:8px;
	background:url('images/woof.png') #FFFFFF;
	background-repeat:no-repeat;
	background-position:left center;
}
DIV.smlogo {
	width:350px;
	height:125px;
	margin-left:auto;
	margin-right:auto;
	background:url('images/logosm.png');
}
DIV.smsearch {
	width:750px;
	margin-left:auto;
	margin-right:auto;
	padding:5px;
	border-radius:8px;
	background-color:rgba(0,0,0,0.3);
	-moz-box-shadow:0px 0px 0px 1px #080808;
	-webkit-box-shadow:0px 0px 0px 1px #080808;
	box-shadow:0px 0px 0px 1px #080808;
}
DIV.smsearch INPUT.search {
	width:750px;
	height:40px;
	font-size:21px;
	padding-left:40px;
	padding-right:40px;
	border-radius:5px;
	background:url('images/woofsm.png') #FFFFFF;
	background-repeat:no-repeat;
	background-position:left center;
}
DIV.results {
	width:750px;
	margin-left:auto;
	margin-right:auto;
	padding:5px;
	border-radius:8px;
	background-color:rgba(0,0,0,0.3);
	-moz-box-shadow:0px 0px 0px 1px #080808;
	-webkit-box-shadow:0px 0px 0px 1px #080808;
	box-shadow:0px 0px 0px 1px #080808;
}
DIV.results DIV.r {
	width:730px;
	background:#FFFFFF;
	padding:10px;
	border-radius:8px;
}
DIV.errormsg {
	font-size:18px;
	font-style:italic;
}

DIV.header {
	font-size:18px;
	margin-top:10px;
}
DIV.information {
	font-size:14px;
	margin-left:10px;
}
DIV.example {
	margin-left:15px;
	padding-top:20px;
	padding-bottom:20px;
	font-style:italic;
}
DIV.subheader {
	margin-left:10px;
	font-size:14px;
	padding-top:6px;
	text-decoration:underline;
}
DIV.usage {
	margin-left:15px;
	font-size:14px;
	padding-top:3px;
	padding-bottom:3px;
	font-style:italic;
}
DIV.definition {
	margin-left:15px;
	font-size:14px;
}

DIV.resultset {
	width:650px;
	font-size:14px;
	text-overflow:hidden;
	padding-bottom:10px;
}
DIV.rsuser {

}
DIV.rsdeveloper {

}
DIV.rsagent {
	font-size:12px;
}
DIV.rsdetails {
	font-size:12px;
}

DIV.footpad {
	height:15px;
}
DIV.footer {
	position:fixed;
	width:100%;
	height:120px;
	bottom:0px;
    background-image:-webkit-gradient(linear,center bottom,center top,from(rgba(0,0,0,1.0)),to(rgba(0,0,0,0)));
    background-image:-moz-linear-gradient(bottom,rgba(0,0,0,1.0), rgba(0,0,0,0));
}